@import "~@/lib/reset.scss";
html,body{overflow-y: auto!important; }
.goodlist{
    overflow: hidden;
    padding-top: 0.48rem;
    .good-item{
        border-bottom: 1px solid #CECECE;
        padding: 0.15rem;
        overflow: hidden;
        .gt-left{
            float: left;
            width: 1.6rem;
            margin-right: 0.1rem;
            img{
                width: 1.6rem;
                height: 1.4rem;
            }
            .pingfen{
                font-size: 0.14rem;
                color: #f66;
                height: 0.1rem;
                line-height: 0.18rem; 
                float: right;
                margin-top: 0.05rem;
            }
        }
        .gt-right{
            float: left;
            width: 1.7rem;
            font-size: 0.12rem;
            color: #c4c4c4;
            .housename{
                font-size: 0.19rem;
                font-weight: 700;
                color: #5a5c5d;
                line-height: 0.22rem;
                height: 0.22rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .housemoney{
                font-size: 0.19rem;
                font-weight: 400;
                color: #e8323f;
                height: 0.27rem;
                line-height: 0.27rem
            }
            .houseinfo{
                font-size: 0.14rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #9b9b9b;
            }
            .houselocation{
                line-height: 0.24rem;
                color: #9b9b9b;
            }
            .houseserver{
                overflow: hidden;
                span{
                    font-size: 0.14rem;
                    height: 0.18rem;
                    float: left;
                    border-radius: 2px;
                    margin-right: 0.05rem;
                    margin-bottom: 0.05rem;
                    color: #87bcda;
                    background-color: #eff6fa;
                }
            }
            .pdata{
                
            }
        }
    }
}

